<app-placeholder *ngIf="blogLoading" ></app-placeholder>
<div class="container">
    <div class="row">
        <div *ngIf="blogs" class="col-sm-12 m-2">
            <div *ngFor="let item of blogs">
                <h2 class="text-center">{{item.title}}</h2>
                <div class="d-flex justify-content-center">
                    <mat-chip-list>
                        <mat-chip *ngFor="let tag of item.tags" [selectable]="true" [removable]="true">
                            {{tag.name}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <quill-view [modules]="{syntax: true}" [content]="item.content"></quill-view>
                <hr class="featurette-divider">
            </div>
        </div>
    </div>
</div>
