/* You can add global styles to this file, and also import other style files */

@import 'semantic-ui-css/semantic.css';

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family:'Times New Roman', Times, serif, "Helvetica Neue", sans-serif; 
}
 p{
   font-size: 20px;
 }

.mat-form-field{
    width: 100%;
}

 iframe{
    width: 100%;
    min-height:450px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  pre{
    font-size: 17px;
  }
