/* You can add global styles to this file, and also import other style files */

@import 'semantic-ui-css/semantic.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field{
    width: 100%;
}

 iframe{
    width: 100%;
    min-height:450px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
